<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a href="#/"><img src="assets/angular.png" class="logo" /></a>
  </div>
  <ul class="nav navbar-nav nav-pills">
    <li routerLinkActive="active">
      <a routerLink="/stepper">Timeline graphs</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/bars">Bar graphs</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/scatter">Scatter graphs</a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

  
